#conteudo{

    width: 600px;
    height: 1200px;
    background-color: red;
    position: relative;

}

#texto{

    width: 500px;
    background-color: green;
    position: absolute;
    left: 20px;
    bottom: 0;

}