#exemplo{

    background-color: green;
    color: #fff;
    width: 500px;
    height: 200px;
    padding: 10px 20px 30px 30px;

}

#exemplo2{

    background-color: red;
    color: #fff;
    width: 500px;
    margin-top: 20px;
    margin: 20px 30px 20px 40px;

}