p{

    color: red;  
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    direction: ltr;
    letter-spacing: 2px;
    word-spacing: 4px;

}

h1{

    text-align: left;
    text-decoration: underline;
    text-shadow: 3px 3px 4px red;

}

h2{

    text-align: right;
    text-decoration: overline;
    text-shadow: 3px -30px green;

}

h3{

    text-align: center;
    text-decoration: line-through;
    text-shadow: 3px 10px blue;

}